all-around-keyboard {
  display: block;
  padding: 5px;
}
:host {
  display: block;
  padding: 5px;
}
.key {
  stroke-width: 1.5px;
}

.key--lower { fill: white; stroke: #777;
}
.key--upper { fill: black; stroke: #000;
}

.key, .key--modulating {
  transition: fill;
  transition-duration: 1s;
  transition-delay: 1s;
  transition-timing-function: ease-in-out;
}

.key:not(.key--modulating) {
  transition-delay: 0s !important;
  transition-duration: 0.1s !important;
}

.key:not(.key--modulating).key--highlight, .key:not(.key--modulating).key--pressed {
  transition-duration: 0s !important;
}

.key--pressed,
.key--highlight.key--pressed.key--upper,
.key--highlight.key--pressed.key--lower
  { fill: deeppink; }

.key--highlight {
  stroke: rgba(0, 91, 255, 0.73);
  stroke-width: 5.5px;
}

.key--highlight.key--lower { fill: rgb(215, 237, 249) }
.key--highlight.key--upper { fill: #495b96 }
